<%- include("../partials/layout-start", {title: title}) %>
<%- include("../partials/menu") %>
<div class="container">
<h1><%= title %></h1>
<h3>views: <%= counter %></h3>
<div class="row" style="max-width: 60%;">
    <div class="col-sm-8">
        <div class="card">
            <img class="card-img-top" src="/<%= book.fileName %>">
            <div class="card-body">
                <h5 class="card-title"><%= book.title %></h5>
                <p class="card-text"><%= book.description %></p>
                <p class="card-text"><%= book.authors %></p>
                <p class="card-text"><%= book.favorite %></p>
                <div class="text-right">
                    <a class="btn btn-sm btn-primary" href="/books/update/<%= book.id %>">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <form action="/books/delete/<%= book.id %>" method="POST" class="d-inline">
                        <button class="btn btn-sm btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div id="list" class="list-group">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="form-group">
            <label for="text">message</label>
            <textarea placeholder="message" class="form-control" id="text"></textarea>
        </div>

        <button type="submit" id="send-room" class="btn btn-primary">room</button>
    </div>
</div>

</div>

<script>
const roomName = location.pathname.split('/').pop();
const socket = io.connect('/', {query: `roomName=${roomName}`});
const boxList = document.querySelector('#list');
const inputText = document.querySelector('#text');
const sendRoom = document.querySelector('#send-room');

const getTmp = (msg) => {
    return `
            <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <small>${msg.username}</small>
                    <small class="text-muted">${msg.type}</small>
                </div>
                <p class="mb-1">${msg.text}</p>
            </div>
    `;
};


socket.on('message-to-room', (msg) => {
    const div = getTmp(msg);
    boxList.insertAdjacentHTML('beforeend', div);

});

sendRoom.addEventListener('click', () => {
    
    
    socket.emit('message-to-room', {
        text: inputText.value,
    });
});

</script>

<%- include("../partials/layout-end") %>